.sales-summary-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sales-summary-card {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  align-items: center;
  flex-direction: column;
}

.sales-summar-card-value {
  color: var(--white-color);
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.sales-summar-card-label {
  color: var(--grey-light-125-color);
  font-size: 18px;
}

@media (min-width: 768px) {
  .sales-summary-container {
    flex-direction: row;
  }

  .sales-summary-card {
    width: calc(50% - 20px);
  }
}

@media (min-width: 992px) {
  .sales-summary-card {
    width: calc(25% - 20px);
  }
}

@media (min-width: 1200px) {
  .sales-summary-container {
    width: 33%;
  }

  .sales-summary-card {
    width: calc(50% - 20px);
  }
}
