.sales-summary-container {
  display: flex;
  width: 440px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sales-summary-card {
  width: 200px;
  height: 200px;
}

.sales-summary-card:nth-of-type(1),
.sales-summary-card:nth-of-type(2) {
  margin-bottom: 45px;
}
