.footer-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.footer-text {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #fff;
}

.footer-text p {
  margin: 0;
}

.footer-text a {
  color: #fff;
}

.footer-contact-container {
  display: flex;
  align-items: center;
}

.footer-contact-container svg {
  height: 18px;
}

.footer-contact-link {
  margin: 0 0 0 10px;
}
