.sales-by-date-container {
  height: 480px;
  padding: 25px;
  margin-bottom: 40px;
}

.sales-by-date-title {
  font-size: 24px;
  color: var(--light-color);
  margin-bottom: 5px;
}

.sales-by-date-period {
  color: var(--grey-light-100-color);
}

.sales-by-date-data {
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
}

.sales-by-date-quantity {
  font-size: 36px;
  color: var(--light-color);
}

.sales-by-date-quantity-label {
  color: var(--green-color);
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.sales-by-date-quantity-description {
  color: var(--grey-light-100-color);
}

.sales-by-date-chart {
  width: 100%;
  margin-top: 15px;
}

@media (min-width: 992px) {
  .sales-by-date-container {
    height: 350px;
  }

  .sales-by-date-data {
    flex-direction: row;
    align-items: center;
  }

  .sales-by-date-chart {
    width: 890px;
  }
}
