@media screen and (max-width: 1200px) {
  /* abaixo de 1200 vai aplicar isso */
  .app-container .sales-overview-container {
    flex-direction: column;
  }

  .sales-overview-container .pie-chart-card-content {
    width: 100%;
  }

  .pie-chart-card-content {
    margin-top: 40px;
  }

  .app-container .sales-by-date-container {
    height: 540px;
  }

  .sales-by-date-container .sales-by-date-data {
    flex-direction: column;
    align-items: flex-start;
  }

  .sales-by-date-data .sales-by-date-quantity-container {
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .sales-by-date-data .sales-by-date-chart {
    width: 100%;
  }

  .sales-overview-container .sales-summary-container {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  /* abaixo de 992 vai aplicar isso */

  .filter-container .filter-input {
    width: 100%;
  }

  .filter-container.base-card {
    flex-direction: column;
  }

  #root .app-container {
    padding: 0 10px;
  }

  .sales-summary-container .sales-summary-card:nth-of-type(3) {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 576px) {
  /* abaixo de 576 vai aplicar isso */
  .sales-overview-container .sales-summary-container {
    flex-direction: column;
  }

  .sales-summary-container .sales-summary-card {
    width: 100%;
  }
}

.sales-table-container {
  overflow-x: auto;
}

.sales-table-container table thead th {
  padding: 10px;
}

.sales-table-container table tbody td {
  padding: 10px;
}
