.sales-table-container {
  margin-bottom: 50px;
  padding: 30px 35px;
  overflow-x: auto;
}

.sales-table-title {
  font-size: 18px;
  margin-bottom: 15px;
}

.sales-table {
  width: 100%;
  border-spacing: 0;
}

.sales-table thead th {
  text-align: left;
  height: 55px;
  font-size: 16px;
  padding: 10px;
}

.sales-table thead th:first-of-type {
  padding-left: 30px;
}

.sales-table tbody td:first-of-type {
  padding-left: 30px;
}

.sales-table tbody td {
  height: 55px;
  padding: 10px;
  border-top: 1px solid var(--grey-light-125-color);
  font-size: 18px;
  transition: background 0.3s;
}

.sales-table tbody tr:hover > td {
  background-color: var(--grey-light-150-color);
}

.sales-table tbody tr:nth-child(even) {
  background-color: var(--primary-color);
}

.sales-table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.sales-table-no-results {
  color: var(--white);
  font-size: 18px;
  text-align: center;
}
