.page-item.disabled .page-link {
  color: var(--light-color);
  background-color: var(--grey-light-100-color);
}

.page-item.disabled .numeration {
  background-color: var(--light-color);
  color: var(--black-color);
}

.page-link {
  color: var(--black-color);
  background-color: var(--light-color);
}

.page-link:hover {
  color: var(--black-color);
  background-color: var(--grey-color);
}

.page-link:active {
  background-color: var(--grey-light-150-color);
}

.page-link:focus {
  color: var(--black-color);
}
